from django.shortcuts import render

def home(request):
    # Get all the posts from the database
    posts = Post.objects.all()

    # Render the home page template with the posts
    return render(request, 'home.html', {'posts': posts})

<!DOCTYPE html>
<html>
<head>
    <title>Social Media</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw20o+vtHNY4uM7cd1m7/whc33Pzgc4b3c6ri3tsOaZGWGm32/A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'styles/home.scss' %}" />
</head>
<body>
    <h1>Social Media</h1>

    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">
                    <img src="{{ post.image.url }}" alt="post-1" style="height: 450px;">
                </a>
                <p>{{ post.author }}</p>
                <p>{{ post.caption }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
.feed {
    margin-bottom: 20px;
}

.feed .photo {
    max-width: 450px;
    height: auto;
}

.feed .caption {
    margin-top: 10px;
}

.liked-by {
    font-size: 14px;
    color: #9a35dd;
}

.edit {
    margin-top: 10px;
}
